<%= form_with model: @inventory do |f| %>
  <%= render "layouts/error_messages", object: @inventory %>
  <div class="field level">
      <div class="control">
        <%= f.label :name, class: "label" %>
        <%= f.text_field :name, class: "input"%>
      </div>
  </div>
  <div class="field level">
    <%= f.submit "save", class: "control button is-outlined has-text-grey"%>
  </div>
<% end %>
