<div class="tile">
  <%= form_with model: @inventory_item do |f| %>
    <div class="field">
      <div class="control">
        <%= f.text_field :par, class: "input is-medium" %>
      </div>
    </div>

    <%= f.hidden_field :inventory_id %>
    <%= f.hidden_field :item_id %>

    <div class="field">
      <%= f.submit "update", class: "control button is-primary" %>
    </div>
  <% end %>
</div>
