<%= form_for item do |f| %>
  <div class="field">
    <div class="control">
      <%= f.text_field :name, class: "input is-medium" %>
    </div>
  </div>

  <%= f.fields_for :item_tags, sorted_tags(item.item_tags) do |ff| %>
    <div>
      <%= ff.check_box :_destroy,
            {:checked => ff.object.persisted?},
            '0', '1'
      %>
      <%= ff.label :_destroy, ff.object.tag.label, class: 'checkbox' %>
        <%= ff.hidden_field :tag_id %>
    </div>
  <% end %>

  <%= f.fields_for :tags do |fff| %>
    <div >
      <% if !fff.object.persisted? %>
        <%= fff.label :label %>
        <%= fff.text_field :label %>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.submit "create", class: "control button is-primary" %>
  </div>

<% end %>
