<div class="columns">
  <div class="column is-8 is-offset-2">
    <%= form_for item do |f| %>
      <div class="columns">
        <div class="column is-6">
          <%= render partial: 'item_fields', locals: { f: f } %>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <%= render partial: 'tag_fields', locals: { item: item, f: f } %>
        </div>
        <div class="column">
          <%= render partial: 'metum_fields', locals: { item: item, f: f } %>
        </div>
      </div>

      <div class="field">
        <%= f.submit "create", class: "control button is-primary" %>
      </div>
    <% end %>
  </div>
</div>
