
<%= form_with model: item do |f| %>
  <%= render "layouts/error_messages", object: item %>
  <div class="level">
      <div class="field">
        <div class="control">
          <%= f.label :name, class: "label" do %>
            Item Name
          <% end %>
          <%= f.text_field :name, class: "input" %>
        </div>
      </div>
  </div>

  <div class="level">
      <div class="field">
        <div class="control">
          <%= f.label :category, class: "label" %>
          <div class="select">
            <%= f.select(:category_id,
              options_from_collection_for_select(@categories, :id, :name, selected = item.category_id || nil),
              {include_blank: "Select Category"}) %>
          </div>
        </div>
      </div>
  </div>

  <div class="level">
    <div class="columns">
      <div class="column">
        <%= render partial: 'tag_fields', locals: { item: item, f: f } %>
      </div>
      <div class="column">
        <%= render partial: 'metum_fields', locals: { item: item, f: f } %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.submit "create", class: "control button is-outlined has-text-grey" %>
  </div>
<% end %>
