<%= f.fields_for :item_tags, sorted_tags(item.item_tags) do |ff| %>
  <div>
    <%= ff.check_box :_destroy,
          {:checked => ff.object.persisted?},
          '0', '1'
    %>
    <%= ff.label :_destroy, ff.object.tag.label, class: 'checkbox' %>
    <%= ff.hidden_field :tag_id %>
  </div>
<% end %>

<%= f.fields_for :tags do |fff| %>
  <div class="field">
    <div class="control">
      <% if !fff.object.persisted? %>
        <%= fff.text_field :label,
          placeholder: "add tag",
          class: "input" %>
      <% end %>
    </div>
  </div>
<% end %>
