<!DOCTYPE html>
<html>
  <head>
    <title>DropKeet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <h2 class="title has-text-grey">
                <%= link_to "DropKeet", root_path %>
              </h2>
            </div>
          </div>
          <div class="level-right">
            <p class="level-item">
              <%= link_to('Sign Out',
                destroy_user_session_path,
                :class => "button is-outlined has-text-grey")
              %>
            </p>
          </div>
        </nav>
      </div>
    </header>

    <div class="columns">
      <% if @inventories %>
        <div class="column is-2">
          <aside class="menu box">
            <h2 class="menu-label">Manage</h2>
            <ul class="menu-list">
              <%= link_to "Items", items_path %>
            </ul>
            <h2 class="menu-label">Inventories</h2>
            <ul class="menu-list">
              <% @inventories.each do |inventory| %>
                <li>
                  <%= link_to inventory[:name], inventory_path(inventory) %>
                </li>
              <% end %>
                <li>
                  <%= link_to '+', new_inventory_path, class: "has-text-centered" %>
                </li>
            </ul>
          </aside>
        </div>
      <% end %>
      <div class="column">
        <% if @breadcrumbs %>
          <div class="level">
            <%= render partial: "layouts/breadcrumb", locals: {breadcrumbs: @breadcrumbs} %>
          </div>
        <% end %>

        <%= yield %>

      </div>
    </div>
    <footer class="footer">
      <div class="level">
        <p class="level-item has-text-grey-light">
          Copyright © 2019 Justin W. Davis. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
